.CocktailFlex {
  width: 80vw;
  height: 60vh;
  box-shadow:0px 2px 3px 3px rgba(255, 255, 255, 0.13);
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* margin-left: 16px; */
  border-radius: 5px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(0, 0, 0);
  margin-bottom: 36px;
}

@media (max-width: 900px) {
  .CocktailFlex {
    width: 100%;
  }
}

.CocktailFlexLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 30vw;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

}

.CocktailImg {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;  
  transform: scale(1.2);
  filter:grayscale(2);
  transition: all .5s;
}

.CocktailImg:hover {
  transform: scale(1.05);
  filter: none;
}

.CocktailFlexRight {
  display: flex;
  flex-direction: column;
}

.CocktailFlexTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CocktailFlexTop h2 {
  text-align: center;
  font-weight: 300;
  color: yellow;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 0;
}

.CocktailFlexTop p {
  text-align: center;
}

.List {
  list-style: "✅  ";
  font-weight: 200;
}

.CocktailFlexMiddle h3{
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.CocktailFlexMiddle p {
  padding: 16px;
  letter-spacing: 1px;
  line-height: 36px;
}

.Button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.ButtonDelete {
  font-size: 16px;
  border:none;
  background-color: transparent;
  margin:0;
  /* padding: 16px; */
  line-height: 0;
  color: red;
  cursor:pointer;
  transition: all .5s;
}

.ButtonDelete:hover {
  font-size: 18px;
  border: 1px solid yellow;
  padding: 14px;
  border-radius: 50px;
}