.CocktailFlex {
  width: 80%;
  height: 200px;
  box-shadow:0px 2px 3px 3px rgba(255,255,255, 0.1);
  display: grid;
  grid-template-columns: 200px 3fr 2fr;
  margin-left: 16px;
  border-radius: 5px;
  margin: 16px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 900px) {
  .CocktailFlex {
    width: 100%;
  }
}

.CocktailFlexLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;

}

.CocktailImg {
  border-radius: 5px;
  object-fit: cover;
  width: 150px;
  height: 170px;
}

.CocktailFlexMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.CocktailFlexMiddle h2 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  color:yellow;
}

.CocktailFlexMiddle p {
  margin: 0;
}

.CocktailFlexRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.CocktailFlexRight h3 {
  font-weight: 300;
}

.CocktailFlexRight p {
  text-align: justify;
  font-size: 14px;
}

.List {
  list-style: "✅";
}
.Button {
  position: absolute;
  top: 8px;
  right: 8px;
}

.ButtonDelete {
  font-size: 16px;
  border:none;
  background-color: transparent;
  margin:0;
  /* padding: 16px; */
  line-height: 0;
  color: red;
  cursor:pointer;
  transition: all .5s;
}

.ButtonDelete:hover {
  font-size: 18px;
  border: 1px solid yellow;
  padding: 14px;
  border-radius: 50px;
}